body {
    width: 95%;
    margin: 0 auto;
}
ul.nav {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.nav li {
    float: right;
}

ul.nav a {
    display: block;
    width: 5em;
    padding: 10px;
    margin: 0 5px;
    background-color: #f4f4f4;
    border: 1px groove #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav a:hover {
    background-color: #333;
    color: #f4f4f4;
}
.header1 {
    width:100%;
    background-color:#00c1ff;
    padding: 10px;
    height:120px;
}
.header2 {
    background-color: #b6ff00;
    padding: 10px;
}
.logo {
    float:left;
    margin:10px;
    width:100px;
    height:100px;
}
.main {
    max-width: 960px;
    background-color: #b0ffbe;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
table {
    margin: 0 auto;
    width: 960px;
    background-color: #b0ffbe;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #000000;
}
footer {
    width: 100%;
    background-color: #00c1ff;
    padding: 10px;
    height: 120px;
}
